body {
  background: #efefef;
  height:100%
}
#root {
  height:100%;
  overflow-x: hidden;
}

/* html {
  height: 100%;
} */

nav {
  background: #362C1E;
  display: flex;
  align-items: center;
  padding-top:15px;
  padding-bottom:15px;
  color: white;
  justify-content:space-between;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
  font-weight: 700;
  margin: 0;
  color: #362C1E;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  font-weight: 300;
  margin: 50px 0 0 0;
  color: #362C1E;
}

h4 {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color:white;
  margin: 10px 0 10px 0;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #362C1E;
  margin-right: 15px;
}

footer {
  background-color: #362C1E;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  /* height: 100%; */
  width: 100%;
  box-shadow: 0 50vh 0 50vh #362C1E;
}

.nav-logo {
  display:flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-left:50px;
}

.tagline {
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  padding-left: 20px;
  font-weight: 300;
}

@media (max-width: 900px) {
  .tagline {
    display: none;
  }
}

.nav-right {
  margin-right: 50px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.icons {
  height: 15px;
  margin-left:20px;
}

.prof-thumbnail {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: solid 1px white;
  margin-left: 20px;
  object-fit: cover;
}

.heros {
  margin-bottom: 100px;
  overflow-x: visible;
}

.slick-prev, .slick-next {
  z-index: 1;
  border: none;
  height: 40px;
  width: 40px;
}

.slick-prev {
  left: 2%;
}

.slick-next {
  right:2%;
}

.hero-card {
  width: 100%;
  height: 250px;
  margin-top: 3px;
  margin-right: 3px;
  display: flex;
}

.botany {
  background: linear-gradient(to right, #8E3611, #B14B18 40%, #D55F1F);
}

.wind {
  background: linear-gradient(to right, #42593A, #4B5F3C, #747B43);
}

.air {
  background: linear-gradient(to right, #454859, #687088 60%, #8997B5);
}

.hero-ui {
  display: flex;
  margin-top: 4%;
}
.featured-image {
  align-self: self-end;
  margin-left: 4%;
  height: 250px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.16);
}
.featured-beer-image {
  align-self: self-end;
  position: relative;
  left: -25px;
  top: 75px;
  height: 175px;
}

.featured-content {
  margin-left: 25px;
}

.featured-content h5, .featured-content h3, .featured-content .reviews span, .featured-content p {
  color: #fff;
}

.featured-content h5 {
  font-weight: 300;
}

.summary {
  margin-bottom: 20px;
}
.featured-content button {
  margin-top: 10px;
  background: #fff;
  border:none;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, .16);
  height: 30px;
  border-radius: 30px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 17px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

.book-color-botany {
  color: #C96310;
}

.book-color-wind {
  color: #425536;
}

.book-color-air {
  color: #4B4E61;
}

.body {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-left: 50px;
  margin-top: 50px;
}

.left-rail {
  flex: 1;
}

@media (min-width: 1082px) {
  .left-rail {
    max-width: 250px;
  }
}

@media (max-width: 425px) {
  .body {
    margin-left: 10px;
  }
  .heros {
    margin-bottom: 50px;
  }
}

.left-rail ul {
  font-size: 14px;
  font-family: 'Quicksand', sans-serif;
  color: #362C1E;
  font-weight: 300;
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  flex: 1

}

.left-rail ul img {
  height: 40px;
  padding-right: 15px;
}

.left-rail li {
  padding-bottom: 15px;
  display: flex;
  align-items: center;

}

@media (max-width: 1080px) {
  .weekly-recs {
    margin-right: 50px;
  }
  .left-rail {
    display: flex;
  }

  .body {
    display: block;
  }

  .left-rail ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .left-rail li {
    padding-right: 10px;
  }

  .left-rail ul li div {
    display: none;
  }

}
@media (max-width: 450px) {
  .left-rail {
    flex-direction: column;
  }

  .left-rail ul {
    justify-content: flex-start;
  }

  .barrel {
    margin: 0 10px 0 10px;
  }
}
.weekly-recs {
  margin-bottom: 30px;
}
.main-well {
  max-width: 844px;
  flex: 4
}

.pairings-header {
  display: flex;
  justify-content: space-between;
}

.main-well .filters {
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
  color: #362C1E;
  list-style-type: none;
  display: flex;
  margin-top: 0;
  margin-right: 50px;
  text-transform: lowercase;
  cursor: pointer;
  flex-wrap: wrap;
}

.main-well .filters li:hover {
  font-weight: 700
}

.main-well .filters li {
  margin-left: 15px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.main-well hr {
  margin-top: 10px;
  margin-right: 35px;
  border-top: 1px solid #C1BFBD;
}

@media (max-width: 550px) {
  .pairings-header {
    flex-direction: column;
  }
  .main-well .filters {
    margin-top: 20px;
    padding-left: 0px;
    justify-content: flex-start;
  }
}

.cards {
  margin-top: 50px;
  display: flex;
  flex-flow: wrap;
}

.book-card {
  width: 400px;
  background: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.18);
  margin-right: 10px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.book-info {
  display: flex;
}

.cover {
  width: 100px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.18);
  margin: 0 25px 0 15px;
  position: relative;
  top: -30px;
  align-self: center;
}

.title-author {
  margin-top: 15px;
}

.reviews {
  display: flex;
}
.review-count {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #362C1E;
  align-items: center;
  margin: 10px 0 0 10px;
  align-self: center;
}

.bottle {
  width: 8px;
  margin: 10px 5px 0 0;
  align-self: center;
  cursor: pointer;
}

.book-pairings {
  display: flex;
  margin-left: 15px;
  margin-top: 10px;
  padding-bottom: 25px;
}

h6 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 0;
  margin: 0 10px 0 0;
  color: #362C1E;
}

.recommended-pairing {
  width: 6px;
  align-self: center;
  margin-left: 10px;
}

h5 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-top: 8px;
  color: #362C1E;

}
@media (max-width: 875px) {
  .book-card {
    width: 350px;
  }
}

@media (max-width: 770px) {
  .book-card {
    width: 320px;
  }
  .cover {
    top: -50px;
  }
}

@media (max-width: 350px) {
  .body {
    margin-left: 10px;
  }
}

@media (max-width: 400px) {
  .featured-image {
    height: 200px;
  }
  .featured-beer-image {
    height: 150px;
    top: 53px;
    left: -20px;
  }
}
footer .newsletter-header {
  padding-top: 30px;
  color: white;
  margin-bottom: 30px;
}
.email-form {
  margin: 30px 0 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
footer input {
  height: 30px;
  margin-top: 0;
  margin-bottom: 25px;
  padding: 0;
  border: 0;
  font-family: 'Quicksand', sans-serif;
  width: 300px;
  padding: 5px;
  color: #362C1E;
}

footer input::placeholder {
  color: #A5A5A5;
}
footer button {
  background: #E28830;
  border: 0;
  color: white;
  height: 30px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  padding: 5px;
  width: 105px;
  margin-left: 5px;
  height: 40px;
}
.barrel-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.barrel {
  width: 35px;
  margin:0 28px 0 28px;
  align-self: center;
}

@media (max-width: 450px) {
  .barrel {
    margin-bottom: 15px;
  }
}
/*Styles for overwriting slick slider  */

.slick-list {
  overflow: visible;
}

.slick-prev:before, .slick-next:before {
  font-size:40px;
  opacity: .9;
}

.menu-page {
  margin-top:1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  height:100%;
}

.menu-page h3 {
  color: #362C1E;
  font-weight: 300;
  margin-top: 20px;
}

.menu-page p {
  color: #362C1E;
  margin-top: 30px;
  text-align: center;
  line-height: 25px;
}

.menu-prof-image {
  width: 75px;
  height: 75px;
  border-radius: 999px;
  border: 1px solid grey;
  object-fit: cover;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 50px auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: 'Quicksand', sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  color: #362C1E
}
.form button {
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #E28830;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #c76b20;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #E28830;
  text-decoration: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

.tooltip-container {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.tooltip-pairing-pos {
  right: -107px;
  bottom: 40px;
}

.tooltip {
    opacity: 0;
    z-index: 99;
    width: 190px;
    display: block;
    font-size: 11px;
    padding: 5px 10px;
    border-radius: 3px;
    text-align: center;
    background: #E28830;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    position: absolute;
}
.tooltip p {
  color: white;
  font-size: 14px;
}
.tooltip:before,.tooltip:after {
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #E28830;
    position: absolute;
    bottom: -10px;
    left: 43%;
}

.tooltip-container:hover .tooltip,a:hover .tooltip {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

@media (max-width: 1080px) {
  .tooltip-position {
    right: -90px;
    bottom: 55px;
  }
}

@media (min-width: 1080px) {
  .tooltip-hidden {
    display: none;
  }
  .left-rail .tooltip-container img {
    cursor: auto;
  }
}



.shelf-cover {
  width: 100px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.18);
  margin: 0 25px 0 15px;
  align-self: center;
}


.feat-cover {
  width: 200px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.18);
  margin: 0 25px 0 15px;
  align-self: center;
}

.feat-beer {
  height: 200px;
  left: -48px;
  top: 5px;
  position: relative;
}

.shelf-beer {
  height: 100px;
  left: -38px;
  position: relative;
}

.book-info .shelf-beer {
  top: 44px
}

@media (max-width: 875px) {
  .book-info .shelf-beer {
    top: 50px;
  }
}

@media (max-width: 770px) {
  .book-info .shelf-beer {
    top: 40px;
  }
}

.horizontal-flex {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  max-width: 720px;
  justify-content: center;
}

.featured-page-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bar-cart {
  margin-bottom: 20px;
}

.prof-content .color-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.prof-content:hover .color-overlay{
  opacity: 1;
}

.grid-3 {
  width: 35%;
}

.white {
  color: white
}

.full {
  height: 100%;
  padding: 150px 0 150px 0;
  display: flex;
  justify-content: center;
}
.featured-page-content span {
  color: white
}
.avatar {
  position: relative;
  width: 75px;
  height: 75px;
  margin: auto;
  /* overflow: hidden; */
}

.avatar .avatar-edit {
  background: rgba(226, 135, 48, .75);
  position: absolute;
  height: 77px;
  width: 77px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  border-radius: 999px;
  display: flex;
  justify-content: center;
}

.avatar:hover .avatar-edit:hover {
  opacity: 1
}

.vertical-flex h2 {
  margin-bottom: 50px
}

.edit-icon {
  width: 25px;
  align-self:center;
}

.uploader {
  position: absolute;
  top: 0;
  left: 0;
  width: 77px;
  height: 77px;
  overflow: hidden;
  opacity:0;
}

.search-form input[type="text"] {
  height: 30px;
  font-size: 14px;
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  border: none;
  outline: none;
  color: white;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 16px;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

.search-form input[type="text"]:focus:hover {
  border-bottom: 1px solid #BBB;
}

.search-form input[type="text"]::placeholder {
 color: white
}

.search-form input[type="text"]:focus {
  width: 200px;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}
.search-form input[type="submit"] {
  height: 67px;
  width: 63px;
  display: inline-block;
  color:red;
  float: right;
  background: url("/images/search-icon.png") center center no-repeat;
  background-size: 15px 15px;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 3px;
  right: -23px;
  z-index: 2;
  cursor: pointer;
  opacity: 1;
  cursor: pointer;
  transition: opacity .4s ease;
}

.search-form input[type="submit"]:hover {
  opacity: 0.8;
}

.search-form {
  position: absolute;
  top: -.5px;
}

.suggestions {
  text-align: center;
  padding: 0;
  position: static;
  position: absolute;
  top: 58px;
  right: 140px;
  width: 100%;
  max-width: 266px;
  z-index: 3;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.16);
  border: 1px solid #362C1E;
  background: #efefef;
}

.suggestions li {
  background: #fff;
  font-family: 'Quicksand', sans-serif;
  color: #362C1E;
 list-style: none;
 margin: 0;
 padding:10px 10px;
 transition: background 0.2s;
 display: flex;
 justify-content: space-between;
background: #efefef;
cursor: pointer;
}

@media (max-width: 600px) {
  .search-form {
    display: none;
  }
  .suggestions {
    display: none;
  }
}

.logout-button {
  background: #E28830;
    border: 0;
    color: white;
    height: 30px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    padding: 5px;
    width: 105px;
    margin-left: 5px;
    height: 40px;
    margin-top: 20px;
    cursor: pointer;
}
